.tabs-container {
    width: 100%;
    display: flex;
    gap: 1px;    
    background-color: white;
    position: sticky;
    bottom: 0;
}

.tabs-container a {
    width: 33.33%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(214, 100%, 55%);
    transition: all 0.25s ease;
}

.tabs-container a:hover {
    background-color: hsl(214, 100%, 45%);
}

.icon {
    font-size: 1.5rem;
    color: white;
    padding: 0.7rem;
    transition: color 0.2s ease-in;
}