.form-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  user-select: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.camera-feed {
  width: 100%;
  height: 100%;
}

.camera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 50%;
}